:root{
    --main-color:#27ae60;
    --text-color-1:#444;
    --text-color-2:#666;
    --bg-color-1:#fff;
    --bg-color-2:#eee;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: Khmer OS Content, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all .3s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-thumb{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

::selection{
    background: var(--main-color);
    color: #fff;
}

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: .2rem solid var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--main-color);
    cursor: pointer;
    font-size: 1.6rem;
    background: var(--bg-color-1);
}

.btn i{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--main-color);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--main-color);
    color: #fff;
}

.btn:hover i{
    color: var(--main-color);
    background:#fff;
    margin-left: 1rem;
}

.heading{
    text-align: center;
    color:var(--text-color-1);
    font-size: 4rem;
    padding-bottom: 2rem;
}

.heading span{
    color: var(--main-color);
}

body{
    background: var(--bg-color-2);
}

body.active{
    --text-color-1:#fff;
    --text-color-2:#eee;
    --bg-color-1:#333;
    --bg-color-2:#222;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.4);
}

/* ===================== Header =====================*/

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    background: var(--bg-color-2);
}

.logo {
    color: var(--text-color-1);
    font-weight: bolder;
    font-size: 3rem;
}

.logo i {
    padding-right: 5px;
    color: var(--main-color);
}

.header-1 .search-box-container {
    display: flex;
    height: 5rem;
}

.header-1 .search-box-container #search-box {
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: var(--text-color-2);
    background: var(--bg-color-1);
    border-radius: .5rem 0 0 5px;
}

.header-1 .search-box-container label {
    height: 100%;
    width: 8rem;
    font-size: 2.5rem;
    line-height: 5rem;
    color: #fff;
    background: var(--main-color);
    text-align: center;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
}

.header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    box-shadow: var(--box-shadow);
    background: var(--bg-color-1);
    z-index: 1000;
    position: relative;
}

.header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-2 .navbar a {
    margin-right: 2rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--text-color-1);
}

.header-2 .navbar a.active,
.header-2 .navbar a:hover{
    color: var(--main-color);
}

.header-2 .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height:4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background:var(--bg-color-2);
    color: var(--text-color-1);
    cursor: pointer;
    text-align: center;
}

.header-2 .icons div:hover {
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
}

.header-2 #menu-bar{
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: .5rem;
    background: var(--bg-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.header-2 #menu-bar:hover{
    background: var(--main-color);
}

.header-2 #menu-bar div:nth-child(1){
    position: absolute;
    width: 2.5rem;
    height: .2rem;
    background: var(--text-color-1);
    transform: translateY(-1rem);
}

.header-2 #menu-bar.active div:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.header-2 #menu-bar div:nth-child(2){
    position: absolute;
    width: 2.5rem;
    height: .2rem;
    background: var(--text-color-1);
}

.header-2 #menu-bar.active div:nth-child(2){
    transform: scale(0);
}

.header-2 #menu-bar div:nth-child(3){
    position: absolute;
    width: 2.5rem;
    height: .2rem;
    background: var(--text-color-1);
    transform: translateY(1rem);
}

.header-2 #menu-bar.active div:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

.header-2 #menu-bar:hover div{
    background: #fff;
}

.header-2 .colors-palette{
    position: absolute;
    top: 130%;
    right: 9%;
    width: 20rem;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

.header-2 .colors-palette.active{
    top: 115%;
    opacity: 1;
    pointer-events: auto;
}

.header-2 .colors-palette h3{
    font-size: 2rem;
    color: var(--text-color-1);
    margin: .7rem;
}

.header-2 .colors-palette .colors{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: .7rem;
    gap: 1rem;
}

.header-2 .colors-palette .colors .color{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

/* ===================== Login & Register =====================*/

.main-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    pointer-events: none;
    transform: scale(0.97);
    opacity: 0;
    z-index: 9999999;
}

.main-container.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.main-container .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
}

.main-container .background.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.container-content .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--text-color-1);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 999999;
}

.container-content .close:hover{
    background: #ff523b;
    color: #fff;
}

.container-content .close i{
    color: var(--bg-color-1);
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1.1rem;
}

.container-content .close i:hover{
    color: #fff;
}

.container-content{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: var(--bg-color-1);
    padding: 4rem 3rem;
    box-shadow: var(--box-shadow);
    perspective: 2700px;
    border-radius: .5rem;
}

.container-content .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container-content .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--main-color);
    opacity: 0.5;
    z-index: 100;
    border-radius: 0 .5rem .5rem 0;
}
.container-content .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--main-color);
    opacity: 0.5;
    z-index: 100;
    transform: rotateY(180deg);
    border-radius: 0 .5rem .5rem 0;
}
.container-content #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}

.container-content .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden;
    border-radius: 0 .5rem .5rem 0;
}

.container-content .cover .back .backImg{
    transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-radius: .5rem 0 0 5rem;
}

.container-content .cover .text{
    position: absolute;
    z-index: 111;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2{
    font-size: 2.6rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    backface-visibility: hidden;
}

.cover .back .text .text-1,
.cover .back .text .text-2{
    transform: rotateY(180deg);
}

.cover .text .text-2{
    font-size: 1.5rem;
    font-weight: 500;
}

.container-content .forms{
    height: 100%;
    width: 100%;
    background: var(--bg-color-1);
}

.container-content .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form{
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title{
    position: relative;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--text-color-1);
}

.forms .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: .3rem;
    width: 2.5rem;
    background: var(--main-color);
}

.forms .signup-form  .title:before{
    width: 2rem;
}

.forms .form-content .input-boxes{
    margin-top: 3rem;
}

.forms .form-content .input-box{
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    margin: 1rem 0;
    position: relative;
}

.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color-2);
    background: transparent;
    border-bottom: .2rem solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color: var(--main-color);
}

.form-content .input-box i{
    position: absolute;
    color: var(--main-color);
    font-size: 1.7rem;
}

.forms .form-content .text{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color-1);
}

.forms .form-content .text a{
    text-decoration: none;
    color: var(--main-color);
}

.forms .form-content .text a:hover{
    text-decoration: underline;
}

.forms .form-content .button .btn{
    width: 100%;
    margin-top: 4rem;
}

.forms .form-content label{
    color: var(--main-color);
    cursor: pointer;
}

.forms .form-content label:hover{
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text{
    text-align: center;
    margin-top: 2.5rem;
}

.container-content #flip{
    display: none;
}
/* ===================== Cart Details =====================*/

.cart-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    pointer-events: none;
    transform: scale(0.97);
    opacity: 0;
    z-index: 9999999;
}

.cart-container.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.cart-container .background1{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
    z-index: -1;
}

.cart-page .closeCart{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--text-color-1);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 999999;
}

.cart-page .closeCart:hover{
    background: #ff523b;
}

.cart-page .closeCart i{
    color: var(--bg-color-1);
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1.1rem;
}

.cart-page .closeCart i:hover{
    color: #fff;
}

.cart-page{
    margin: 0 auto;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    width: 850px;
    border-radius: .5rem;
    padding: 4rem 3rem;
    overflow-y: scroll;
    height: 50rem;
    position: relative;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: .5rem;
    color: #fff;
    background: var(--main-color);
    font-weight: normal;
    font-size: 2rem;
}

td{
    padding: 1rem .5rem;
    color: var(--text-color-1);
    font-size: 1.5rem;
}

td input{
    width: 4rem;
    height: 3rem;
    padding: .5rem;
    border: var(--border);
    background: var(--bg-color-1);
    color: var(--text-color-1);
    border-radius: .5rem;
}

td a{
    color: #ff523b;
    font-size: 1.2rem;
}

td img{
    height: 8rem;
    width: 8rem;
    line-height: 8rem;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: .3rem solid var(--main-color);
    width: 100%;
    max-width: 400px;
}

.total-price td{
    font-size: 2rem;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.cart-page .btn{
    float: right;
    margin-left: 1rem;
}

/* ===================== Scroll top =====================*/

#scroll-top{
    position: fixed;
    top: calc(100% - 120px);
    right: -6rem;
    padding: 1rem 1.5rem;
    border: .2rem solid var(--main-color);
    text-align: center;
    border-radius: .5rem;
    color: var(--main-color);
    font-size: 2rem;
    z-index: 100000;
}

#scroll-top.active{
    right: 2rem;
}

#scroll-top:hover{
    background: var(--main-color);
    color: #fff;
}

/* ===================== Home =====================*/

.home{
    padding: 0;
}

.home .container{
    position: relative;
}

.home .container .slide-container .slide{
    min-height: 75vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 7rem;
    padding: 0 9%;
    background: var(--bg-color-1);
}

.home .container .slide-container .slide .content{
    flex: 1 1 35rem;
    animation: image-x .4s linear .6s backwards;
}

@keyframes image-x{

    0%{
        opacity: 0;
        transform: translateX(-50%);
    }

}

.home .container .slide-container .slide .image{
    flex: 1 1 50rem;
    animation: image-t .4s linear;
    transform: scale(1);
    opacity: 1;
}

@keyframes image-t{

    0%{
        opacity: 0;
        /* transform: translateY(-50%); */
        transform: scale(0.95);
    }

}

.home .container .slide-container .slide .image img{
    width: 100%;
    border-radius: .5rem;
}

.home .container .slide-container .slide .content h3{
    font-size: 5rem;
    color: var(--text-color-1);
}

.home .container .slide-container .slide .content p{
    font-size: 2rem;
    color: var(--text-color-2);
}

.home .container .slide-container{
    display: none;
}

.home .container .slide-container.active{
    display: block;
}

.container #prev,
.container #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color);
    border: .2rem solid var(--main-color);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    text-align: center;
    border-radius: .5rem;
    z-index: 100;
    cursor: pointer;
}

.container #prev:hover,
.container #next:hover {
    background: var(--main-color);
    color: #fff;
}

.container #prev {
    left: 2rem;
}

.container #next {
    right: 2rem;
}

/* ===================== banner =====================*/

.banner .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(41rem, 1fr));
    gap: 1.5rem;
    padding-top: 2.5rem;
}

.banner .box-container .box{
    overflow: hidden;
    background: var(--bg-color-1);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
}

.banner .box-container .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: -25rem;
    width: 100%;
    height: 100%;
    background: var(--bg-color-2);
    transform: skew(25deg);
}

.banner .box-container .box .image{
    height: 25rem;
}

.banner .box-container .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .box-container .box .image .content{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.banner .box-container .box .image .content h3{
    font-size: 2.5rem;
    color: var(--text-color-1);
}

.banner .box-container .box .image .content p{
    font-size: 2rem;
    color: var(--text-color-2);
}

/* ===================== Services =====================*/

.service .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: var(--bg-color-1);
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}

.service .box-container .box {
    text-align: center;
    flex: 1 1 30rem;
}

.service .box-container .box i {
    font-size: 3.5rem;
    color: #fff;
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    background: var(--main-color);
    border-radius: 50%;
}

.service .box-container .box h3 {
    font-size: 2rem;
    color: var(--text-color-1);
    padding-top: 1rem;
}

.service .box-container .box p {
    font-size: 1.5rem;
    color: var(--text-color-2);
    padding: .5rem 3rem;
}

/* ===================== Popular =====================*/

.popular .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}

.popular .box-container .box{
    padding: 1.5rem;
    background:var(--bg-color-1);
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.popular .box-container .box .fa-heart,
.popular .box-container .box .fa-eye{
    position: absolute;
    top:1.5rem;
    background:var(--bg-color-2);
    border-radius: 50%;
    height: 5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--text-color-1);
}

.popular .box-container .box #viewD1,
.popular .box-container .box #viewD2,
.popular .box-container .box #viewD3,
.popular .box-container .box #viewD4,
.popular .box-container .box #viewD5,
.popular .box-container .box #viewD6{
    cursor: pointer;
}

.popular .box-container .box .fa-heart:hover,
.popular .box-container .box .fa-eye:hover{
    background: var(--main-color);
    color:#fff;
}

.popular .box-container .box .fa-heart{
    right:-15rem;
}

.popular .box-container .box .fa-eye{
    left:-15rem;
}

.popular .box-container .box:hover .fa-heart{
    right:1.5rem;
}

.popular .box-container .box:hover .fa-eye{
    left:1.5rem;
}

.popular .box-container .box .image{
    height: 20rem;
    border-radius: .5rem;
    overflow: hidden;
}

.popular .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular .box-container .box h3{
    color:var(--text-color-1);
    font-size: 2.5rem;
    margin-top: 1rem;
}

.popular .box-container .box .stars{
    padding:1rem 0;
}

.popular .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--main-color);
}

.popular .box-container .box span{
    color:var(--main-color);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

/* ===================== Menu =====================*/

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 2rem;
}

.menu ul.fixed{
    position: fixed;
    top: 6.5rem;
    left: 9%;
    right: 9%;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    z-index: 999;
}

.menu ul.fixed-Top{
    position: fixed;
    top: 6.5rem;
    left: 9%;
    right: 9%;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    z-index: 999;
}

.menu ul li{
    font-size: 1.7rem;
    padding: .5rem 3rem;
    border-radius: .5rem;
    border: .2rem solid var(--main-color);
    color: var(--main-color);
    margin: .5rem;
    cursor: pointer;
}

.menu ul li.active{
    background: var(--main-color);
    color: #fff;
}
.menu ul li:hover{
    background: var(--main-color);
    color: #fff;
}

.menu .box-container .item-box{
    background: var(--bg-color-1);
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .item-box.hide{
    display: none;
}

.menu .box-container .item-box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .item-box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .item-box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 20px;
    background: var(--bg-color-2);
    border-radius: 50%;
    color:var(--text-color-1);
}

.menu .box-container .item-box .image .fa-heart:hover{
    background-color: var(--main-color);
    color:#fff;
}

.menu .box-container .item-box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .item-box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .item-box .content .stars i{
    font-size: 1.7rem;
    color:var(--main-color);
}

.menu .box-container .item-box .content h3{
    color:var(--text-color-1);
    font-size: 2.3rem;
}

.menu .box-container .item-box .content p{
    color:var(--text-color-2);
    font-size: 1.7rem;
    padding: .5rem 0;
    line-height: 1.8;
}

.menu .box-container .item-box .content .price{
    color:var(--main-color);
    margin-left: 1rem;
    font-size: 2.5rem;
}

/* ===================== Review =====================*/

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2.5rem;
    background: var(--bg-color-1);
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.review .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    border:.5rem solid #fff;
}

.review .box-container .box h3{
    color:#fff;
    font-size: 2.2rem;
    padding:5px 0;
}

.review .box-container .box .stars i{
    color:#fff;
    font-size: 1.5rem;
}

.review .box-container .box .text{
    color:var(--text-color-2);
    line-height: 1.8;
    font-size: 1.6rem;
    padding-top: 4rem;
    text-align: left;
}

.review .box-container .box::before{
    content: '';
    position: absolute;
    top:-40px; left: 50%;
    transform:translateX(-50%);
    background:var(--main-color);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25rem;
    width: 120%;
    z-index: -1;
}

/* ===================== Contact us =====================*/

.contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.contact .box-container .box{
    text-align: center;
    padding: 3rem 1rem;
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}

.contact .box-container .box i{
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    border-radius: 50%;
    background: var(--bg-color-2);
    color: var(--main-color);
}

.contact .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0 .5rem 0;
    color: var(--text-color-1);
}

.contact .box-container .box p{
    font-size: 1.5rem;
    color: var(--text-color-2);
}

.contact .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin-top: 1.5rem;
    gap: 1.5rem;
}

.contact .row .map{
    width: 100%;
    border-radius: .5rem;
    padding: 2rem;
    background: var(--bg-color-1);
    border: var(--border);
}

.contact .row form{
    border-radius: .5rem;
    padding: 2rem;
    background: var(--bg-color-1);
    border: var(--border);
}

.contact .row form .box{
    width: 100%;
    padding: 1rem 1.2rem;
    background: var(--bg-color-2);
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    color: var(--text-color-1);
    font-size: 1.5rem;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}


/* ===================== Comments =====================*/
.comments{
    margin: 0 auto;
}

.comments h3{
    font-size: 2rem;
    border-bottom: .2rem solid var(--main-color);
    color: var(--main-color);
}

.comments .user-comment{
    margin: 3rem 0;
    padding-bottom: 1rem;
    border-bottom: .1rem solid var(--bg-color-1);
}

.comments .user-comment{
    display: flex;
    gap: 1.5rem;
}

.comments .user-comment i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    color: var(--text-color-1);
    background: var(--bg-color-1);
    font-size: 5rem;
    text-align: center;
}

.comments .user-comment .name{
    display: flex;
    align-items: center;
}

.comments .user-comment .name .title{
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 1.5rem;
    color: var(--text-color-1);
}

.comments .user-comment .name small{
    font-size: 1.3rem;
    color: var(--text-color-2);
}

.comments .user-comment .content p{
    font-size: 1.5rem;
    color: var(--text-color-2);
}

.comments .user-comment .reply{
    font-size: 1.3rem;
    color: var(--text-color-2);
}

.comments .reply-comment{
    display: flex;
    gap: 1.5rem;
    margin-left: 7rem;
    padding-bottom: 1.5rem;
    border-bottom: .1rem solid var(--bg-color-1);
}

.comments .reply-comment img{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
}

.comments .reply-comment .name-r{
    display: flex;
    align-items: center;
}

.comments .reply-comment .name-r .title-r{
    font-size: 1.8rem;
    margin-right: 1.5rem;
    color: var(--text-color-1);
}

.comments .reply-comment .name-r small{
    font-size: 1.3rem;
    color: var(--text-color-2);
}

.comments .reply-comment .content-r p{
    font-size: 1.5rem;
    color: var(--text-color-2);
}

.comments .reply-comment .content-r .reply-r{
    font-size: 1.3rem;
    color: var(--text-color-2);
}

.comments form{
    background: var(--bg-color-1);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    margin-top: 2.5rem;
}

.comments form .inputComm{
    width: 100%;
    font-size: 1.6rem;
    background: var(--bg-color-2);
    color: var(--text-color-2);
    border-radius: .5rem;
    padding: 1rem 1.3rem;
}

.comments form textarea{
    resize: none;
    height: 15rem;
}

.comments form input{
    margin: .5rem 0;
}

/* ===================== likes =====================*/

.like-content{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0.97);
    z-index: 9999999;
}

.like-content.active{
    opacity: 01;
    transform: scale(1);
    pointer-events: auto;
}

.like-content .backgrund{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
    z-index: -1;
}

.like-content .box-container{
    width: 850px;
    height: 45rem;
    background: var(--bg-color-1);
    border-radius: .5rem;
    padding: 4rem 3rem;
    position: relative;
    overflow-y: scroll;
}

.like-content .box-container .closeLike{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.like-content .box-container .closeLike i{
    font-size: 1rem;
    color: var(--text-color-1);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background: var(--bg-color-2);
    text-align: center;
    cursor: pointer;
}

.like-content .box-container .closeLike i:hover{
    background: #ff523b;
    color: #fff;
}

.like-content .box-container .btn{
    float: right;
    margin-left: 1rem;
}

.like-content .box-container .box,
.like-content .box-container .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-content .box-container .box{
    padding: 1rem;
}

.like-content .box-container .box .img{
    width: 20%;
    display: flex;
    gap: 1rem;
}

.like-content .box-container .box img{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    object-fit: cover;
    border-radius: .5rem;
}

.like-content .box-container .box .conent h3{
    font-size: 1.5rem;
    color: var(--text-color-1);
}

.like-content .box-container .box .conent .star i{
    font-size: 1rem;
    color: var(--main-color);
}

.like-content .box-container .title{
    background: var(--main-color);
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}

.like-content .box-container .title .name{
    width: 27%;
}

.like-content .box-container .title h3{
    font-size: 2rem;
    color: #fff;
}

.like-content .box-container .box span{
    font-size: 1.5rem;
    color: var(--text-color-2);
    background: var(--bg-color-2);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.like-content .box-container .box .like:hover, 
.like-content .box-container .box .remove:hover{
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
}
/* ===================== Views Details =====================*/

.views-detail{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.97);
    z-index: 99999999;
}

.views-detail.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.views-detail .background{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
    z-index: -1;
}

.views-detail .main{
    width: 850px;
    height: 47rem;
    background: var(--bg-color-1);
    border-radius: .5rem;
    padding: 4rem 3rem;
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    position: relative;
}

.views-detail .closeDetail{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.views-detail .closeDetail i{
    font-size: 1rem;
    color: var(--text-color-1);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background: var(--bg-color-2);
    text-align: center;
    cursor: pointer;
}

.views-detail .closeDetail i:hover{
    background: #ff523b;
    color: #fff;
}

.views-detail .main .row{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.views-detail .main .row .image{
    flex: 1 1 40rem;
    height: 20rem;
}

.views-detail .main .row .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.views-detail .main .row .detail{
    flex: 1 1 40rem;
}

.views-detail .main .row .detail .title{
    font-size: 2.3rem;
    color: var(--text-color-1);
}

.views-detail .main .row .detail p{
    font-size: 1.8rem;
    color: var(--text-color-2);
}

.views-detail .main .row .detail .price{
    font-size: 2.5rem;
    color: var(--text-color-2);
}

.views-detail .main .row .detail input{
    font-size: 2rem;
    color: var(--text-color-2);
    border: var(--border);
    width: 5rem;
    text-align: center;
    border-radius: .5rem;
    margin-right: 1rem;
    color: var(--text-color-2);
}

.views-detail .main .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.views-detail .main .box-container .box{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.views-detail .main .box-container .box img{
    height: 15rem;
    width: 100%;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    object-fit: cover;
}

.views-detail .main .box-container .box .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
}

.views-detail .main .box-container .box .content h3{
    font-size: 2rem;
    color: var(--text-color-1);
}

.views-detail .main .box-container .box .content .price{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail .main .box-container .box p{
    font-size: 1.7rem;
    color: var(--text-color-2);
    padding: 0 1.5rem;
}

.views-detail .main .box-container .box .stars{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.views-detail .main .box-container .box .stars #add{
    background: var(--main-color);
    padding: .5rem 2rem;
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
    border-top-left-radius: 2rem;
}


.views-detail .main .box-container .box .stars i{
    font-size: 1.3rem;
    color: var(--main-color);
}

/* ===================== Views Details1 =====================*/

.views-detail1{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.97);
    z-index: 99999999;
}

.views-detail1.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.views-detail1 .background1{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
    z-index: -1;
}

.views-detail1 .main1{
    width: 850px;
    height: 47rem;
    background: var(--bg-color-1);
    border-radius: .5rem;
    padding: 4rem 3rem;
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    position: relative;
}

.views-detail1 .closeDetail1{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.views-detail1 .closeDetail1 i{
    font-size: 1rem;
    color: var(--text-color-1);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background: var(--bg-color-2);
    text-align: center;
    cursor: pointer;
}

.views-detail1 .closeDetail1 i:hover{
    background: #ff523b;
    color: #fff;
}

.views-detail1 .main1 .row1{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.views-detail1 .main1 .row1 .image1{
    flex: 1 1 40rem;
    height: 20rem;
}

.views-detail1 .main1 .row1 .image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.views-detail1 .main1 .row1 .detail1{
    flex: 1 1 40rem;
}

.views-detail1 .main1 .row1 .detail1 .title1{
    font-size: 2.3rem;
    color: var(--text-color-1);
}

.views-detail1 .main1 .row1 .detail1 p{
    font-size: 1.8rem;
    padding: .5rem 0;
    color: var(--text-color-2);
}

.views-detail1 .main1 .row1 .detail1 .price1{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail1 .main1 .row1 .detail1 input{
    font-size: 2rem;
    color: var(--text-color-2);
    border: var(--border);
    width: 5rem;
    text-align: center;
    border-radius: .5rem;
    margin-right: 1rem;
    color: var(--text-color-2);
    background: none;
}

.views-detail1 .main1 .box-container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.views-detail1 .main1 .box-container1 .box1{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.views-detail1 .main1 .box-container1 .box1 img{
    height: 15rem;
    width: 100%;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    object-fit: cover;
}

.views-detail1 .main1 .box-container1 .box1 .content1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
}

.views-detail1 .main1 .box-container1 .box1 .content1 h3{
    font-size: 2rem;
    color: var(--text-color-1);
}

.views-detail1 .main1 .box-container1 .box1 .content1 .price1{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail1 .main1 .box-container1 .box1 p{
    font-size: 1.7rem;
    color: var(--text-color-2);
    padding: 0 1.5rem;
}

.views-detail1 .main1 .box-container1 .box1 .stars1{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.views-detail1 .main1 .box-container1 .box1 .stars1 #add1{
    background: var(--main-color);
    padding: .5rem 2rem;
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
    border-top-left-radius: 2rem;
}


.views-detail1 .main1 .box-container1 .box1 .stars1 i{
    font-size: 1.3rem;
    color: var(--main-color);
}

/* ===================== Views Details2 =====================*/

.views-detail2{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.97);
    z-index: 99999999;
}

.views-detail2.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.views-detail2 .background2{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
    z-index: -1;
}

.views-detail2 .main2{
    width: 850px;
    height: 47rem;
    background: var(--bg-color-1);
    border-radius: .5rem;
    padding: 4rem 3rem;
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    position: relative;
}

.views-detail2 .closeDetail2{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.views-detail2 .closeDetail2 i{
    font-size: 1rem;
    color: var(--text-color-1);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background: var(--bg-color-2);
    text-align: center;
    cursor: pointer;
}

.views-detail2 .closeDetail2 i:hover{
    background: #ff523b;
    color: #fff;
}

.views-detail2 .main2 .row2{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.views-detail2 .main2 .row2 .image2{
    flex: 1 1 40rem;
    height: 20rem;
}

.views-detail2 .main2 .row2 .image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.views-detail2 .main2 .row2 .detail2{
    flex: 1 1 40rem;
}

.views-detail2 .main2 .row2 .detail2 .title2{
    font-size: 2.3rem;
    color: var(--text-color-1);
}

.views-detail2 .main2 .row2 .detail2 p{
    font-size: 1.8rem;
    padding: .5rem 0;
    color: var(--text-color-2);
}

.views-detail2 .main2 .row2 .detail2 .price2{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail2 .main2 .row2 .detail2 input{
    font-size: 2rem;
    color: var(--text-color-2);
    border: var(--border);
    width: 5rem;
    text-align: center;
    border-radius: .5rem;
    margin-right: 1rem;
    color: var(--text-color-2);
    background: none;
}

.views-detail2 .main2 .box-container2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.views-detail2 .main2 .box-container2 .box2{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.views-detail2 .main2 .box-container2 .box2 img{
    height: 15rem;
    width: 100%;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    object-fit: cover;
}

.views-detail2 .main2 .box-container2 .box2 .content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
}

.views-detail2 .main2 .box-container2 .box2 .content2 h3{
    font-size: 2rem;
    color: var(--text-color-1);
}

.views-detail2 .main2 .box-container2 .box2 .content2 .price2{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail2 .main2 .box-container2 .box2 p{
    font-size: 1.7rem;
    color: var(--text-color-2);
    padding: 0 1.5rem;
}

.views-detail2 .main2 .box-container2 .box2 .stars2{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.views-detail2 .main2 .box-container2 .box2 .stars2 #add2{
    background: var(--main-color);
    padding: .5rem 2rem;
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
    border-top-left-radius: 2rem;
}


.views-detail2 .main2 .box-container2 .box2 .stars2 i{
    font-size: 1.3rem;
    color: var(--main-color);
}

/* ===================== Views Details3 =====================*/

.views-detail3{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.97);
    z-index: 99999999;
}

.views-detail3.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.views-detail3 .background3{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
    z-index: -1;
}

.views-detail3 .main3{
    width: 850px;
    height: 47rem;
    background: var(--bg-color-1);
    border-radius: .5rem;
    padding: 4rem 3rem;
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    position: relative;
}

.views-detail3 .closeDetail3{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.views-detail3 .closeDetail3 i{
    font-size: 1rem;
    color: var(--text-color-1);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background: var(--bg-color-2);
    text-align: center;
    cursor: pointer;
}

.views-detail3 .closeDetail3 i:hover{
    background: #ff523b;
    color: #fff;
}

.views-detail3 .main3 .row3{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.views-detail3 .main3 .row3 .image3{
    flex: 1 1 40rem;
    height: 20rem;
}

.views-detail3 .main3 .row3 .image3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.views-detail3 .main3 .row3 .detail3{
    flex: 1 1 40rem;
}

.views-detail3 .main3 .row3 .detail3 .title3{
    font-size: 2.3rem;
    color: var(--text-color-1);
}

.views-detail3 .main3 .row3 .detail3 p{
    font-size: 1.8rem;
    padding: .5rem 0;
    color: var(--text-color-2);
}

.views-detail3 .main3 .row3 .detail3 .price3{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail3 .main3 .row3 .detail3 input{
    font-size: 2rem;
    color: var(--text-color-2);
    border: var(--border);
    width: 5rem;
    text-align: center;
    border-radius: .5rem;
    margin-right: 1rem;
    color: var(--text-color-2);
    background: none;
}

.views-detail3 .main3 .box-container3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.views-detail3 .main3 .box-container3 .box3{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.views-detail3 .main3 .box-container3 .box3 img{
    height: 15rem;
    width: 100%;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    object-fit: cover;
}

.views-detail3 .main3 .box-container3 .box3 .content3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
}

.views-detail3 .main3 .box-container3 .box3 .content3 h3{
    font-size: 2rem;
    color: var(--text-color-1);
}

.views-detail3 .main3 .box-container3 .box3 .content3 .price3{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail3 .main3 .box-container3 .box3 p{
    font-size: 1.7rem;
    color: var(--text-color-2);
    padding: 0 1.5rem;
}

.views-detail3 .main3 .box-container3 .box3 .stars3{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.views-detail3 .main3 .box-container3 .box3 .stars3 #add3{
    background: var(--main-color);
    padding: .5rem 2rem;
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
    border-top-left-radius: 2rem;
}


.views-detail3 .main3 .box-container3 .box3 .stars3 i{
    font-size: 1.3rem;
    color: var(--main-color);
}

/* ===================== Views Details4 =====================*/

.views-detail4{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.97);
    z-index: 99999999;
}

.views-detail4.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.views-detail4 .background4{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
    z-index: -1;
}

.views-detail4 .main4{
    width: 850px;
    height: 47rem;
    background: var(--bg-color-1);
    border-radius: .5rem;
    padding: 4rem 3rem;
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    position: relative;
}

.views-detail4 .closeDetail4{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.views-detail4 .closeDetail4 i{
    font-size: 1rem;
    color: var(--text-color-1);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background: var(--bg-color-2);
    text-align: center;
    cursor: pointer;
}

.views-detail4 .closeDetail4 i:hover{
    background: #ff523b;
    color: #fff;
}

.views-detail4 .main4 .row4{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.views-detail4 .main4 .row4 .image4{
    flex: 1 1 40rem;
    height: 20rem;
}

.views-detail4 .main4 .row4 .image4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.views-detail4 .main4 .row4 .detail4{
    flex: 1 1 40rem;
}

.views-detail4 .main4 .row4 .detail4 .title4{
    font-size: 2.3rem;
    color: var(--text-color-1);
}

.views-detail4 .main4 .row4 .detail4 p{
    font-size: 1.8rem;
    padding: .5rem 0;
    color: var(--text-color-2);
}

.views-detail4 .main4 .row4 .detail4 .price4{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail4 .main4 .row4 .detail4 input{
    font-size: 2rem;
    color: var(--text-color-2);
    border: var(--border);
    width: 5rem;
    text-align: center;
    border-radius: .5rem;
    margin-right: 1rem;
    color: var(--text-color-2);
    background: none;
}

.views-detail4 .main4 .box-container4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.views-detail4 .main4 .box-container4 .box4{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.views-detail4 .main4 .box-container4 .box4 img{
    height: 15rem;
    width: 100%;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    object-fit: cover;
}

.views-detail4 .main4 .box-container4 .box4 .content4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
}

.views-detail4 .main4 .box-container4 .box4 .content4 h3{
    font-size: 2rem;
    color: var(--text-color-1);
}

.views-detail4 .main4 .box-container4 .box4 .content4 .price4{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail4 .main4 .box-container4 .box4 p{
    font-size: 1.7rem;
    color: var(--text-color-2);
    padding: 0 1.5rem;
}

.views-detail4 .main4 .box-container4 .box4 .stars4{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.views-detail4 .main4 .box-container4 .box4 .stars4 #add4{
    background: var(--main-color);
    padding: .5rem 2rem;
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
    border-top-left-radius: 2rem;
}


.views-detail4 .main4 .box-container4 .box4 .stars4 i{
    font-size: 1.3rem;
    color: var(--main-color);
}

/* ===================== Views Details5 =====================*/

.views-detail5{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.97);
    z-index: 99999999;
}

.views-detail5.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.views-detail5 .background5{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
    z-index: -1;
}

.views-detail5 .main5{
    width: 850px;
    height: 47rem;
    background: var(--bg-color-1);
    border-radius: .5rem;
    padding: 4rem 3rem;
    overflow-y: scroll;
    box-shadow: var(--box-shadow);
    position: relative;
}

.views-detail5 .closeDetail5{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.views-detail5 .closeDetail5 i{
    font-size: 1rem;
    color: var(--text-color-1);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background: var(--bg-color-2);
    text-align: center;
    cursor: pointer;
}

.views-detail5 .closeDetail5 i:hover{
    background: #ff523b;
    color: #fff;
}

.views-detail5 .main5 .row5{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.views-detail5 .main5 .row5 .image5{
    flex: 1 1 40rem;
    height: 20rem;
}

.views-detail5 .main5 .row5 .image5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.views-detail5 .main5 .row5 .detail5{
    flex: 1 1 40rem;
}

.views-detail5 .main5 .row5 .detail5 .title5{
    font-size: 2.3rem;
    color: var(--text-color-1);
}

.views-detail5 .main5 .row5 .detail5 p{
    font-size: 1.8rem;
    padding: .5rem 0;
    color: var(--text-color-2);
}

.views-detail5 .main5 .row5 .detail5 .price5{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail5 .main5 .row5 .detail5 input{
    font-size: 2rem;
    color: var(--text-color-2);
    border: var(--border);
    width: 5rem;
    text-align: center;
    border-radius: .5rem;
    margin-right: 1rem;
    color: var(--text-color-2);
    background: none;
}

.views-detail5 .main5 .box-container5{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.views-detail5 .main5 .box-container5 .box5{
    background: var(--bg-color-1);
    box-shadow: var(--box-shadow);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.views-detail5 .main5 .box-container5 .box5 img{
    height: 15rem;
    width: 100%;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    object-fit: cover;
}

.views-detail5 .main5 .box-container5 .box5 .content5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
}

.views-detail5 .main5 .box-container5 .box5 .content5 h3{
    font-size: 2rem;
    color: var(--text-color-1);
}

.views-detail5 .main5 .box-container5 .box5 .content5 .price5{
    font-size: 2rem;
    color: var(--main-color);
}

.views-detail5 .main5 .box-container5 .box5 p{
    font-size: 1.7rem;
    color: var(--text-color-2);
    padding: 0 1.5rem;
}

.views-detail5 .main5 .box-container5 .box5 .stars5{
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.views-detail5 .main5 .box-container5 .box5 .stars5 #add5{
    background: var(--main-color);
    padding: .5rem 2rem;
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
    border-top-left-radius: 2rem;
}


.views-detail5 .main5 .box-container5 .box5 .stars5 i{
    font-size: 1.3rem;
    color: var(--main-color);
}

/* ===================== Payment Money =====================*/

.payment-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    pointer-events: none;
    opacity: 0;
    transform: scale(1.1);
}

.payment-container.active{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.payment-container .closePayment{
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    font-size: 3.5rem;
    color: var(--bg-color-1);
    cursor: pointer;
}

.payment-container form{
    background: var(--bg-color-1);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    width: 600px;
}

.payment-container form .inputBox{
    margin-top: 20px;
}

.payment-container form .inputBox span{
    display: block;
    color:var(--text-color-2);
    padding-bottom: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.payment-container form .inputBox input,
.payment-container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--text-color-2);
    color:var(--text-color-2);
    background: var(--bg-color-1);
}

.payment-container form .inputBox input:focus,
.payment-container form .inputBox select:focus{
    border:1px solid var(--main-color);
}

.payment-container form .inputBox select{
    text-transform: uppercase;
}

.payment-container form .flexbox{
    display: flex;
    gap: 15px;
}

.payment-container form .flexbox .inputBox{
    flex:1 1 150px;
}

.payment-container form .btn{
    width: 100%;
    margin-top: 20px;
}


/* ===================== Footer =====================*/

footer{
    position: relative;
    background: var(--bg-color-1);
    width: 100%;
    bottom: 0;
    left: 0;
}

footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 10rem;
    height: .1rem;
    width: 100%;
    background: var(--text-color-2);
}

footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 3rem 7rem 4rem 7rem;
}

footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.content .top .logo-details{
    color: var(--text-color-1);
    font-size: 3rem;
}

.content .top .logo-details i{
    color: var(--main-color);
}

.content .top .media-icons{
    display: flex;
}

.content .top .media-icons a{
    height: 4rem;
    width: 4rem;
    margin: 0 .6rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4rem;
    color: #fff;
    font-size: 1.7rem;
    text-decoration: none;
}

.top .media-icons a:nth-child(1){
    background: #4267B2;
}

.top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: var(--bg-color-2);
}

.top .media-icons a:nth-child(2){
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: var(--bg-color-2);
}

.top .media-icons a:nth-child(3){
    background: #E1306C;
}

.top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: var(--bg-color-2);
}

.top .media-icons a:nth-child(4){
    background: #0077B5;
}

.top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: var(--bg-color-2);
}

.top .media-icons a:nth-child(5){
    background: #FF0000;
}

.top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: var(--bg-color-2);
}

footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box{
    width: calc(100% / 5 - 1rem);   
}

.content .link-boxes .box .link_name{
    color: var(--text-color-1);
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    position: relative;
}

.link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.2rem;
    height: .2rem;
    width: 3.5rem;
    background: var(--text-color-1);
}

.content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a{
    color: var(--text-color-2);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
}

.content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
}
.content .link-boxes .input-box{
    margin-right: 5.5rem;
}

.link-boxes .input-box input{
    height: 4rem;
    width: calc(100% + 55px);
    outline: none;
    border: .2rem solid var(--main-color);
    background: transparent;
    border-radius: 5px;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    color: var(--text-color-2);
    margin-top: .5rem;
}

.link-boxes .input-box input::placeholder{
    color: var(--text-color-2);
    font-size: 1.6rem;
}

.link-boxes .input-box input[type="button"]{
    background: transparent;
    color: var(--main-color);
    border: .2rem solid var(--main-color);
    font-size: 1.7rem;
    font-weight: 500;
    margin: .4rem 0;
    cursor: pointer;
}

.input-box input[type="button"]:hover{
    background: var(--main-color);
    color: #fff;
}

footer .bottom-details{
    width: 100%;
    background: var(--bg-color-2);
}

footer .bottom-details .bottom_text{
    max-width: 125rem;
    margin: auto;
    padding: 2rem 7rem 0 7rem;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color-2);
    opacity: .8;
    text-decoration: none;
}

.bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
}

.bottom-details .bottom_text a{
    margin-right: 1rem;
}

/* ===================== Intro =====================*/

.intro-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edf1f4;
    min-height: 100vh;
    width: 100%;
    z-index: 9999999;
    pointer-events: auto;
}

.intro-container.fade-out{
    opacity: 0;
    pointer-events: none;
}

.intro-container .loader{
    display: flex;
    flex-direction: row;
}

.intro-container .loader div{
    position: relative;
    width: 40px;
    height: 200px;
    margin: 20px;
    overflow: hidden;
    border-radius: 40px;
    border: 2px solid #edf1f4;
    background: linear-gradient(to bottom, rgba(0,0,0,0.05),
    #edf1f4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fff,
    inset -5px -5px 5px rgba(255,255,255,0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.intro-container .loader div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 40px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fff,
    inset -5px -5px 5px rgba(255,255,255,0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.intro-container .loader div::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.2),
    0 420px 0 400px #2196f3;
    animation: animate 2.5s ease-in-out infinite;
    transform: translateY(160px);
    animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate{
    0%{
        transform: translateY(160px);
        filter: hue-rotate(180deg);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(160px);
        filter: hue-rotate(0);
    }
    
}







/* ===================== Media Queries =====================*/

@media(max-width:1200px){

    html{
        font-size: 55%;
    }

}

@media(max-width:991px){

    .header-1,
    .header-2{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home .container .slide-container .slide{
        padding: 2rem;
        flex-flow: wrap-reverse;
    }

    footer .content{
        padding: 3rem 3.5rem 4rem 2rem;
    }

    footer .content .link-boxes{
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
        width: 40%;
        margin-top: 1rem;
    }

    footer .bottom-details .bottom_text{
        padding: 2rem;
    }

    .products-container{
        padding: 2rem;
        max-height: 70vh;
    }

    .like-content{
        padding: 2rem;
    }

    .views-detail,
    .views-detail1,
    .views-detail2,
    .views-detail3,
    .views-detail4,
    .views-detail5{
        padding: 2rem;
    }

}

@media(max-width:768px){

    .header-2 #menu-bar{
        display: flex;
    }

    .header-2{
        padding: 1rem 2rem;
    }

    .header-2 .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--bg-color-2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header-2 .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header-2 .navbar a{
        display: block;
        margin: 1.5rem;
        padding: 1.5rem;
        border: .2rem solid rgba(0, 0, 0, 0.1);
        border-left: .5rem solid var(--main-color);
        background: var(--bg-color-1);
    }

    .main-container{
        padding: 2rem;
    }

    .container-content .cover{
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form{
        width: 100%;
    }

    .form-content .signup-form{
        display: none;
    }

    .container-content #flip:checked ~ .forms .signup-form{
        display: block;
    }

    .container-content #flip:checked ~ .forms .login-form{
        display: none;
    }

    .home .container .slide-container .slide .content h3{
        font-size: 4rem;
    }

    footer{
        position: relative;
    }
    .content .top .logo-details{
        font-size: 3rem;
    }
    .content .top .media-icons a{
        height: 4rem;
        width: 4rem;
        font-size: 2rem;
        line-height: 4rem;
    }
    footer .content .link-boxes .box{
        width: calc(100% / 3 - 1rem);
    }
    footer .content .link-boxes .input-box{
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
        font-size: 1.2rem;
    }

    .products-container .list-product{
        flex-flow: column;
    }

    .intro-container .loader div{
        position: relative;
        width: 30px;
        height: 150px;
        margin: 10px;

    }
    
    .intro-container .loader div::after{
        width: 26px;
        height: 26px;
    } 

    .cart-container{
        padding: 2rem;
    }

    .like-content .box-container .box .img{
        flex-flow: column;
    }

    .payment-container{
        padding: 2rem;
    }

    .payment-container form .flexbox .inputBox{
        width: 100%;
    }

}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .header-1{
        flex-flow: column;
    }

    .header-1 .search-box-container{
        width: 100%;
        margin-top: 2rem;
    }

    .container #prev,
    .container #next{
        top: 50%;
    }

    .container #prev{
        left: 0;
    }

    .container #next{
        right: 0;
    }

    footer::before{
        top: 18rem;
    }
    footer .content .top{
        flex-direction: column;
    }
    .content .top .media-icons{
        margin-top: 1.6rem;
    }
    footer .content .link-boxes .box{
        width: calc(100% / 2 - 1rem);
    }
    footer .content .link-boxes .input-box{
        width: 100%;
    }

    .payment-container form .flexbox{
        display: block;
    }

    .intro-container .intro-container .loader div{
        width: 40%;
    }

    .views-detail .main .row,
    .views-detail1 .main1 .row1,
    .views-detail2 .main2 .row2,
    .views-detail3 .main3 .row3,
    .views-detail4 .main4 .row4,
    .views-detail5 .main5 .row5{
        flex-wrap: wrap;
    }

}